body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 40px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}